<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
 
  <div class="small">
    <a href="/">Charlie's Blogging Service</a> |
    {% if user %}<a href="/">{{ user.nickname() }}</a> |{% endif %}
    <a href="{{ login_url|safe }}">{{ login_text }}</a>
  </div>

  <table>
    <tr>
      <td colspan="2">
        <h1>{{ blog.name }}</h1>
        
        <hr>
        
        {% if user == blog.author %} 
          <h2>Welcome, {{ user.nickname() }}!</h2>

          <p>Please
          <a href="/createpost/{{ blog.key.id() }}">click here</a>
          to create a new post for this blog, or use the
          "edit post" links below to edit existing posts.</p>

          <hr>
        {% endif %}

      </td>
    </tr>
    <tr>
      <td>
        {% if selectedtag %}
          <p>Posts tagged with <b>{{ selectedtag }}</b>:</p>
        {% endif %}
        
        {% for post in blog_posts %}
          <h2>{{ post.title }}</h2>

          <div class="small">
            By: {{ post.author }} |
            Posted: {{ post.create_date.strftime('%Y-%m-%d %H:%M') }} |
            Edited: {{ post.edit_date.strftime('%Y-%m-%d %H:%M') }}
          </div>

          <p>{{ post.body|safe }}</p>

          <div class="small">
            Tags: 
            {% for tag in post.tags %}
               <a href="/blog/{{ blog.key.id() }}?tag={{ tag }}">{{ tag }}</a>
               {%- if not loop.last %}, {% endif %}
            {% endfor %}
            <br>
            <a href="/post/{{ blog.key.id() }}/{{ post.key.id() }}">view full post (permalink)</a>

            {% if user == blog.author %}| 
              <a href="/editpost/{{ blog.key.id() }}/{{ post.key.id() }}">edit post</a>
            {% endif %}
          </div>

          {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
        
        {% if more or selectedtag %}<hr>{% endif %}
        
        {% if more %}
          <div class="small">
            <a href="/blog/{{ blog.key.id() }}?tag={{ selectedtag}}&cursor={{ cursor }}">more posts</a>
           </div>
        {% endif %} 
         
        {% if selectedtag %}
          <div class="small">
            <a href="/blog/{{ blog.key.id() }}">return to blog view (including all tags)</a>
          </div>
        {% endif %}

      </td>
      <td class="taglist">
      
        <br>Tags:
        <div class="small">
        {%- for tag in blogtags -%}
          <br><a href="/blog/{{ blog.key.id() }}?tag={{ tag }}">{{ tag }}</a>
        {%- endfor -%}
        <br><br>
        <a href="/blog/{{ blog.key.id() }}">all tags</a>
        </div>
      
      </td>
    </tr>
  </table>
  </body>
</html>
{% endautoescape %}
