<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
  <div class="small">
    <a href="/">Charlie's Blogging Service</a> |
    {% if user %}<a href="/">{{ user.nickname() }}</a> |{% endif %}
    <a href="{{ login_url|safe }}">{{ login_text }}</a>
  </div>

  <table>
    <tr>
      <td>
        <h1>Charlie's Blogging Service</h1>
        
        <hr>
        
        <h2>Welcome, {{ user.nickname() }}!</h2>
        
        <p>Please use this form to upload a new image:</p>
        
        <p><form action="{{ upload_url }}" method="post"
              enctype="multipart/form-data">
          <input type=hidden name="author" value="{{ user }}">
          <input type="file" name="image"><br>
          <input type="submit" value="Upload">
        </form></p>
        
        <hr>
         
        <p>Images previously uploaded, with permalinks:</p>
        
        <ul> 
        {% for image in images %}
          <li><img src="/serve/{{ image.blob_key }}/{{ image.filename }}" align="top">
              <a href="/serve/{{ image.blob_key }}/{{ image.filename }}">permalink</a>
        {% endfor %}
        </ul>

        <p>(images displayed at reduced size, but stored at full size)</p>

        <p><a href="/">home</a></p>
        
      </td>
    </tr>
  </table>
  </body>
</html>
{% endautoescape %}
