<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
  <div class="small">
    <a href="/">Charlie's Blogging Service</a> |
    {% if user %}<a href="/">{{ user.nickname() }}</a> |{% endif %}
    <a href="{{ login_url|safe }}">{{ login_text }}</a>
  </div>
  
  <table>
    <tr>
      <td>
        <h1>{{ blog.name }}</h1>
        
        <hr>
        
        <h2>{{ post.title }}</h2>

        <div class="small">
          By: {{ post.author }} |
          Posted: {{ post.create_date.strftime('%Y-%m-%d %H:%M') }} |
          Edited: {{ post.edit_date.strftime('%Y-%m-%d %H:%M') }}
        </div>
        
        <p>{{ post.body|safe }}</p>
        
        <div class="small">
          Tags: 
          {% for tag in post.tags %}
             <a href="/blog/{{ blog.key.id() }}?tag={{ tag }}">{{ tag }}</a>
             {%- if not loop.last %}, {% endif %}
          {% endfor %}

          {% if user == blog.author %}| 
            <a href="/editpost/{{ blog.key.id() }}/{{ post.key.id() }}">edit post</a>
          {% endif %}
        </div>

        <hr>
        
        <p><a href="/blog/{{ blog.key.id() }}">return to blog view</a></p>

      </td>
    </tr>
  </table>
  </body>
</html>
{% endautoescape %}
