<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <table>
    <tr>
      <td>
        <h1>{{ blog.name }}</h1>
        
        <hr>
        
        <h2>{{ post.title }}</h2>
        <h3>By: {{ post.author }}</h3>
        
        <p>Posted: {{ post.create_date.strftime('%Y-%m-%d %H:%M:%S') }}
        <br>Edited: {{ post.edit_date.strftime('%Y-%m-%d %H:%M:%S') }}
        
        <p>{{ post.body }}
        
        <p>Tags: 
        {% for tag in post.tags %}
          <a href="">{{ tag }}</a>{% if not loop.last %},{% endif %}
        {% endfor %} 
        <hr>
        
        <p><a href="/blog?blog_url_key={{ blog.key.urlsafe() }}">Return to blog view</a> 
        <p><a href="/">Return to Charlie's Blogging Service homepage</a> 
      
      </td>
    </tr>
  </table>
  </body>
</html>
{% endautoescape %}
