body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}

h1 { font-size: 250%; }
h2 { font-size: 150%; }
.small { font-size: 80%; }

table {
  width: 700px;
  margin: auto;
}

td {
  vertical-align: top;
}

td.taglist {
  text-align: right;
  padding-left: 40px;
}

textarea {
  width: 680px;
}

img {
  width: 200px;
}
